*{
    box-sizing: border-box;
}

nav img{
    height:23px !important;
    object-fit: fill;

}
.jumbotron h1{
    color: white;
}
.jumbotron p:first-of-type{
    color: white;
    
}
.jumbotron button:hover{
    transform: scale(1.1);
    margin-left:8px;
    margin-right: 8px;
}
.card{
    height:100%;
}
.card img{
    height:200px;
    object-fit: cover;
    transition: transform 300;
}
.card img:hover{
    transform:scale(1.1)
}


.strike{
    text-decoration: line-through;
}
@media (max-width: 576px) {
    .hidden-mobile {
      display: none;
    }
  }


.feed i{
    color:rgb(95, 90, 90);
}
footer{
    font-size: 20px;
    
}
h2{
    color:rgb(69, 8, 8);
    text-align: center;
    font-weight: 300;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top:10px;
}
p{
    font-family:cursive;
}
h5{
    font-family:monospace;
    font-size: 16px;
}
.card{
    border-radius: 20px;
}
.card img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:20px ;
}